/* Reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

html {
  scroll-behavior:smooth;
  font-family: Arial, Helvetica, sans-serif;
}
/* 
1.Vi tri
2, Kich thuoc
3. Mau sac
4. Styte (font, theme,....)
 */
.white-color {
  color: white !important;
}
.mt-8 {
  margin-top: 8px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.row {
  margin-left: -8px;
  margin-right: -8px;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
.column {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
.col-third {
  width: calc(33.33333% - 16px);
}
.col-half {
  width: calc(50% - 16px);
}
.col-full {
  width: calc(100% - 16px);
}
/* main */

#header {
  height: 46px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#nav > li {
  display: inline-block;
}
#nav li {
  position: relative;
}
#nav li a {
  color: white;
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}
#nav > li > a {
  text-transform: uppercase;
}
#nav li:hover .subnav {
  display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a {
  color: black;
  background-color: #ccc;
}
#nav{
  display: inline-block;
}
#nav .subnav {
  min-width: 160px;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  top: 100%;
  left: 0;
  display: none;
  list-style:none
}


#nav .subnav a {
  color: black;
  padding: 0 12px;
  line-height: 38px;
}
#nav .nav-arrow-down {
  font-size: 14px;
}
#nav .subnav li {
  width: 100%;
}

#header .search-icon, #header .menu-icon {
  color: white;
  font-size: 20px;
  line-height: 46px;
  padding: 0 21px;
}

#header .searchbtn:hover {
  cursor: pointer;
  background-color: #f44336;
}
.mobile-menu:hover {
  background-color: #ccc;
}
#header .mobile-menu,
#header .searchbtn {
  font-size: 20px;
  float: right;
  /* margin-top: -48px; */
}
  #header .mobile-menu{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url("chicago.jpg") top center / cover no-repeat;
}
#slider .text_content {
  position: absolute;
  bottom: 48px;
  color: white;
  width: 100%;
  text-align: center;
}
#slider .text-heading {
  font-weight: 500;
  font-size: 24px;
}
#slider .text-description {
  margin-top: 25px;
}
#content {
}
#content .content-section {
  width: 800px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 0 122px;
}
#content .section-heading {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}
#content .section-slogan {
  text-align: center;
  font-size: 15px;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.7;
}
#content .about-content {
  font-size: 15px;
  margin-top: 25px;
  text-align: justify;
  line-height: 1.4;
}
#content .member {
  margin-top: 48px;
}
#content .member-item {
  float: left;
  text-align: center;
  width: 33.33333%;
}
#content .member-name {
  font-size: 15px;
}
#content .member-avt {
  margin-top: 15px;
  width: 154px;
  border-radius: 4px;
}
.clear {
  clear: both;
}
.tour-section {
  background: black;
}
.ticket-list {
  background-color: white;
  margin-top: 40px;
  list-style: none;
}
.ticket-list li {
  color: #757575;
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
}
.ticket-list .sold-out {
  background-color: #f44336;
  color: white;
  padding: 3px 4px;
  margin-left: 16px;
}
.ticket-list .quantily {
  float: right;
  width: 24px;
  height: 24px;
  background-color: black;
  color: white;
  border-radius: 100%;
  text-align: center;
  line-height: 24px;
  margin-top: -2px;
}
/* Place */
.places-list {
  /* margin: 32px -8px 0;
  padding-bottom: 48px; */
  margin-top: 32px;
  margin-bottom: 48px;
}
.place-item {
  width: calc(33.333% - 16px);
  /* float: left;
  padding: 0 8px; */
}
.place-img {
  width: 100%;
  display: block;
}
.place-img:hover {
  opacity: 0.6;
}
.place-boby {
  background-color: white;
  padding: 16px;
  font-size: 15px;
}
.place-heading {
}
.place-time {
  margin-top: 15px;
  color: #757575;
}
.place-description {
  line-height: 1.4;
}
.place-buy-btn {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 15px;
  border: none;
}
.place-buy-btn:hover {
  color: black;
  background-color: #ccc;
}
/* Contact */
.contact-content {
  margin-top: 48px;
}
.contact-infor {
  font-size: 18px;
  line-height: 1.5;
}
.contact-infor i[class*="ti-"] {
  width: 30px;
  display: inline-block;
}
.contact-form {
  font-size: 15px;
}
.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
}
.contact-form .form-submit-btn {
  background-color: #000;
  color: white;
  padding: 10px 16px;
  float: right;
  border: none;
  cursor: pointer;
}
.contact-form .form-submit-btn:hover {
  background-color: #ccc;
  color: #000;
}
/* Footer */
#footer {
  padding: 64px 16px;
  text-align: center;
}
.social-list {
  font-size: 24px;
}
.social-list a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
.social-list a:hover {
  color: rgba(0, 0, 0, 0.4);
}
.copyright {
  margin-top: 16px;
  color: rgba(0, 0, 0, 0.6);
}
.copyright a {
  color: rgba(0, 0, 0, 0.6);
  margin-left: 4px;
}
.modal {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}
.modal {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: none;
}
.modal.open {
  display: flex;
}
.modal-container {
  background: #fff;
  width: 900px;
  max-width: calc(100% - 32px);
  min-height: 200px;
  position: relative;
  animation: modalFadeIn ease 0.5s;
}
header.modal-header {
  background: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}
.modal-heading-icon {
  margin-right: 16px;
}
.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  padding: 12px;
  cursor: pointer;
  opacity: 0.8;
}
.modal-close:hover {
  opacity: 1;
}
.modal-boby {
  padding: 16px;
}
label.modal-label {
  display: block;
  font-size: 15px;
  padding: 8px;
  margin-bottom: 12px;
}
.modal-input {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  width: calc(100% - 16px);
  margin-bottom: 24px;
}
button#Pay-ticket:hover {
  opacity: 0.8;
}

button#Pay-ticket {
  background: #009688;
  border: none;
  color: white;
  width: 100%;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  padding: 18px;
}
.modal-footer {
  padding: 16px;
  text-align: right;
}
.modal-footer a {
  color: #2196f3;
}
@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
